.flexhero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-right: 3%;
  padding-left: 3%;
  width: 100%;
  height: 460px;
  overflow: hidden;

  @media (min-width: 800px) {
    height: 560px;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
    border-radius: 8px;
    max-width: 1170px;
    height: 660px;
  }

  @media (min-width: 1750px) {
    padding-right: 0%;
    padding-left: 0%;
    max-width: 1650px;
    height: 760px;
  }

  &__textwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1 {
      max-width: 720px;
      // color: #0c2542;
      font-weight: 500;
      font-size: 48px;
      line-height: 1;
      letter-spacing: -0.05em;
      text-align: center;

      @media (min-width: 800px) {
        font-size: 80px;
      }

      @media (min-width: 1200px) {
        max-width: 90%;
        font-size: 100px;
        text-wrap: balance;
      }

      @media (min-width: 1750px) {
        max-width: 90%;
        font-size: 120px;
      }
    }
    p {
      max-width: 70%;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      text-wrap: balance;

      @media (min-width: 1200px) {
        font-size: 20px;
      }
    }
  }

  &__imageBg {
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px;

    @media (min-width: 800px) {
      padding: 64px;
    }

    @media (min-width: 1200px) {
      padding: 80px;
    }
    @media (min-width: 1750px) {
      padding: 100px 120px;
    }

    .flexhero__textwrapper {
      align-items: flex-start;
    }
    h1,
    p {
      text-align: left;
    }
  }
  &__buttonWrapper {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    p {
      font-size: 13px;
      line-height: 24px;
    }
  }
}
