@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #f0f4f9;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#blogBgImage::after {
  display: block;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background: #f0f4f9;
  width: 100vw;
  height: calc(100% + 4rem);
  content: "";
}

article table {
  margin-bottom: 24px;
  border-collapse: collapse;
  border-spacing: 5px;
  width: 100%;
  text-align: left;
}

article table th {
  font-weight: 600;
}

article table th,
article table td {
  border: 1px solid #1c3654;
  padding: 8px 4px;
  color: #1c3654;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
