.wrapper {
  //   background-color: chartreuse;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper__inner {
  //   background-color: chocolate;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
