.icon {
  position: relative;
  align-items: baseline;
  &::before {
    display: block;
    position: relative;
    top: 2px;
    flex-shrink: 0;
    border-radius: 50%;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0ibTYuNCAxMi00LTQgMS4xMjgtMS4xMjhMNi40IDkuNzM2bDYuMDcyLTYuMDcyTDEzLjYgNC44IDYuNCAxMloiLz48L3N2Zz4=");
    background-color: #9c4dff;
    width: 16px;
    height: 16px;
    content: "";
  }
}

.slider {
  position: relative;
  height: 32px;

  &__min,
  &__max {
    position: absolute;
    top: 0;
    opacity: 0.7;
    z-index: 1;
    pointer-events: none;
    color: #728ca9;
    font-weight: 500;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: -0.05em;
    user-select: none;
  }

  &__min {
    left: 12px;
  }

  &__max {
    right: 12px;
  }

  /*Range Reset*/
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 15px;
    background: transparent;
    width: 100%;
    height: 32px;
    overflow: hidden;
  }

  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 16px;
    background-color: #f0f4f9;
    height: 32px;
  }

  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    z-index: 2;
    box-shadow: 0px 0px 20px 50px #f0f4f9;
    border-radius: 16px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0ibTIwIDEzIDMgMy0zIDNNMTIgMTlsLTMtMyAzLTMiLz48L3N2Zz4=");

    /*custom styles*/
    background-color: #0c2542;
    width: 32px;
    height: 32px;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 2px solid #003edb;
    outline-offset: 2px;
  }
  input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #003edb;
  }

  /******** Firefox styles ********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    border-radius: 16px;
    background-color: #f0f4f9;
    height: 32px;
  }

  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 20px 50px #f0f4f9;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    border-radius: 16px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0ibTIwIDEzIDMgMy0zIDNNMTIgMTlsLTMtMyAzLTMiLz48L3N2Zz4=");

    /*custom styles*/
    background-color: #0c2542;
    width: 32px;
    height: 32px;
  }

  input[type="range"]:focus::-moz-range-thumb {
    outline: 2px solid #003edb;
    outline-offset: 2px;
  }
  input[type="range"]:hover::-moz-range-thumb {
    background-color: #003edb;
  }
}
