.buttonlink {
  display: inline-block;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  outline: none;
  outline-offset: 0;
  border: none;
  border-radius: 55px;
  background-color: #ccc;
  text-decoration: none;
  white-space: nowrap;

  &__medium {
    padding: 4px 16px;
    font-size: 14px;
    line-height: 24px;

    @media screen and (min-width: 800px) {
      padding: 8px 24px;
      font-size: 16px;
    }
  }

  &__large {
    padding: 8px 24px;
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: 800px) {
      padding: 12px 32px;
      font-size: 18px;
    }
  }
}

.buttonlink__primary {
  outline: 4px solid #49cce9;
  background-color: #0d51ff;
  color: #fff;
  font-weight: 500;
  text-decoration-color: rgba(#fff, 0.5);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

  &:hover,
  &:focus {
    outline: 8px solid rgba(#49cce9, 0.2);
    border: none;
    text-decoration-line: underline;
  }
}

.buttonlink__secondary {
  background-color: green;
}
