.header {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links__page {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: 800px) {
    justify-content: flex-start;
    width: auto;
    gap: 40px;
  }
}

.links__action {
  display: none;
  @media (min-width: 800px) {
    display: flex;
    justify-content: flex-start;
    width: auto;
    gap: 40px;
  }
}
.links__action__mobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (min-width: 800px) {
    display: none;
  }
}
